<section class="section--exercises">
  <div class="filter-container container">
    <div class="filter-title">
        Exercises
        <span class="slash-in-filter" style="display: none;"> / </span>
        <span class="additional-title-filter"></span>
    </div>
    <div class="filters" >
        <div class="filter-form-container"  style="display: none;" >
            <form class="filter-search-form">
                <div class="search-container">
                    <input type="text" class="search-string" autofocus placeholder="Search"/>
                    <button type="submit" class="search-button">
                        <img src="../img/search.svg" alt="search ccon" class="button-icon" width="18" height="18">
                    </button>
                </div>
            </form>
        </div>
        <ul class="filters-tabs">
            <li class="filter-tab-button-element">
                <button class="filter-tab-button" id="button-muscles">Muscles</button>
            </li>
            <li class="filter-tab-button-element">
                <button class="filter-tab-button" id="button-bodypart">Body parts</button>
            </li>
            <li class="filter-tab-button-element">
                <button class="filter-tab-button" id="button-equipment">Equipment</button>
            </li>
        </ul>
    </div>
</div>
  <div class="container"></div>
  <div class="container category-container active">
    <ul class="category-list"></ul>
  </div>
  <div class="container exercise-container hidden">
    <div class="exercise-list"></div>
  </div>
  <div class="loader-container">
    <span class="loader hidden"></span>
  </div>
</section>
