<div class="filters">
    <form class="filter-search">
        <input type="text" class="search-string" style="display: none;" autofocus placeholder="Search"/>
        <button type="submit" class="search-button">Submit</button>
    </form>
    <ul class="filters-tabs">
        <li>
            <button class="filter-tab-button" id="button-muscles">Muscles</button>
        </li>
        <li>
            <button class="filter-tab-button" id="button-bodypart">Body parts</button>
        </li>
        <li>
            <button class="filter-tab-button" id="button-equipment">Equipment</button>
        </li>
    </ul>
</div>
<script src="./main.js" type="module"></script>
