.filters {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-container {
  margin-bottom: 20px;
}

.filters-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.filter-search-form {
  align-self: center;
  width: 100%;
  margin-top: 40px;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-string {
  width: 100%;
  height: 44px;
  top: 938px;
  left: 20px;
  padding: 12px 40px 12px 14px;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #242424;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.search-button {
  position: absolute;
  right: 12px;
  top: 12px;
}

.cansel-search-button {
  position: absolute;
  right: 36px;
  top: 12px;
}

.filter-tab-button {
  position: relative;
  font-family: var(--font-primary);
  font-size: 14px;
  padding: 0 0 2px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #24242499;
}

.filter-tab-button.active {
  color: #242424;
}

.filter-tab-button.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #242424;
}

.filter-title {
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #242424;
}
.additional-title-filter {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #24242480;
}

@media screen and (min-width: 768px) {
  .filter-container {
    margin-bottom: 32px;
  }

  .filters {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .filters-tabs {
    margin-top: 32px;
    width: auto;
    order: 2;
  }

  .filter-search-form {
    width: 273px;
    margin-top: 32px;
    order: 1;
  }

  .filter-tab-button {
    font-size: 16px;
    line-height: 24px;
  }

  .filter-title {
    font-size: 44px;
  }
  .additional-title-filter {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .filter-search-form,
  .filters-tabs {
    margin: 0;
  }

  .filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .filter-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
    order: 1;
    flex-shrink: 0;
    margin: 0;
  }

  .filters {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 0;
  }
}
