/* #region base */
.footer {
  background-color: var(--black);
  color: var(--light);
  padding: 40px 0 10px;
}
.footer__logo-socials-wrapper {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 64px 0 16px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 122px;
  }
  .footer__logo-socials-wrapper {
    max-width: 156px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer-content {
    gap: 158px;
  }
  .footer__logo-socials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
/* #endregion base */

/* #region logo and social */
.footer__logo svg {
  fill: var(--light);
  transition: fill 250ms ease;
}
.footer__logo:hover svg {
  fill: var(--grey);
}

.footer__socials {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.footer__socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid #f4f4f41a;
  border-radius: 10%;
  transition: background-color 250ms ease, border-color 250ms ease;
}
.footer__socials svg {
  fill: var(--light);
  width: 24px;
  height: 24px;
  transition: fill 250ms ease;
}
.footer__socials a:hover {
  background-color: var(--light);
  border-color: var(--light);
}
.footer__socials a:hover svg {
  fill: var(--black);
}
/* #endregion logo and social */

/* #region h2 and form */
.footer__slogan-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 120px;
}
.footer__slogan {
  letter-spacing: -0.76px;
  font-family: var(--font-primary);
  font-size: 38px;
  font-weight: 400;
  color: var(--light);
  line-height: 44px;
}
.footer__slogan strong {
  font-weight: 400;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .footer__slogan-form {
    gap: 32px;
    margin-bottom: 64px;
  }
  .footer__slogan {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.12px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__slogan-form {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__form {
    min-width: 352px;
  }
}

.footer__form-title {
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--light);
  font-weight: 400;
  line-height: 1.28;
}
.footer__input {
  color: var(--light);
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--light);
  border-radius: 30px;
  background-color: transparent;
}
.footer__button {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--light);
  background-color: var(--light);
  color: var(--black);
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
}
.footer__button:hover {
  background-color: var(--black);
  color: var(--light);
}
@media screen and (min-width: 768px) {
  .footer__form-title {
    font-size: 18px;
    line-height: 24px;
  }
}
/* #endregion h2 and form */

/* #region privacy policy */
.footer__text-outer-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__text-inner-wrap {
  display: flex;
  gap: 79px;
}
@media screen and (min-width: 768px) {
  .footer__text-outer-wrap {
    flex-direction: row;
    gap: 78px;
  }
  .footer__text-inner-wrap {
    gap: 178px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__text-outer-wrap {
    gap: 122px;
  }
  .footer__text-inner-wrap {
    gap: 498px;
  }
}

.footer__text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
  color: var(--light);
  opacity: 0.9;
  margin-bottom: 10px;
  text-align: left;
}

.footer__text-inner-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.privacy-policy__text a {
  gap: 8px;
  color: var(--light);
  text-decoration: none;
  transition: color 250ms ease;
}

.privacy-policy__text a:hover {
  color: var(--grey);
}
/* #endregion privacy policy */
