.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  --webkit--backdrop-filter: blur(3px);
  background: rgba(4, 4, 4, 0.4);
}

.modal-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  z-index: 999;
}
.exercise-modal-card {
  width: 335px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--black);
  position: relative;
}

.modal-overlay.hidden {
  display: none;
}

.modal-page.hidden {
  display: none;
}
.modal-card-close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 24px;
  height: 24px;
}
.modal-card-close-button svg {
  fill: #f4f4f4;
  padding: 1px;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}
.image-container img {
  border-radius: 12px;
  width: 295px;
  height: 258px;
}

.modal-card-header {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.modal-card-data {
  display: flex;
  flex-direction: column;
}

.modal-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 20px;
  color: rgb(244, 244, 244);
}

.modal-card-title::first-letter {
  text-transform: uppercase;
}

.modal-card-rating {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 10px 0px;
}

.rating-value {
  font-size: 12px;
  line-height: 18px;
  color: #f4f4f4;
}

.divider {
  border: none;
  border-top: 1px solid rgba(244, 244, 244, 0.2);
  margin: 10px 0;
}

.modal-card-properties {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.modal-card-property {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-card-property-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #f4f4f4;
}

.modal-card-property-value::first-letter {
  text-transform: uppercase;
}

.modal-card-property-name {
  font-size: 12px;
  line-height: 18px;
  color: rgba(244, 244, 244, 0.4);
}

.modal-card-description {
  font-size: 14px;
  line-height: 18px;
  color: rgba(244, 244, 244, 0.6);
  padding-top: 10px;
}

.modal-card-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.modal-card-button {
  flex: 1;
  padding: 10px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.favorite-button {
  background-color: #f4f4f4;
  height: 42px;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 12px 0;
}
.favorite-button span {
  font-size: 14px;
  line-height: 18px;
}
.favorite-button svg {
  fill: #f4f4f4;
  padding-left: 1px;
}

.rating-button {
  color: #f4f4f4;
  border: 1px solid#f4f4f4;
  padding: 12px 0;
}

@media screen and (min-width: 768px) {
  .exercise-modal-card {
    width: 704px;
    padding: 32px;
  }
  .modal-card-close-button {
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
  }

  .modal-card-close-button svg {
    width: 28px;
    height: 28px;
  }
  .modal-card-header {
    flex-direction: row;
    gap: 32px;
    margin: 0;
  }
  .image-container {
    width: 270px;
    height: 259px;
  }
  .image-container {
    margin-top: 0px;
  }
  .image-container img {
    width: 270px;
    height: 259px;
  }
  .modal-card-data {
    max-width: 338px;
    flex-shrink: 0;
  }
  .modal-card-title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0px;
  }
  .modal-card-properties {
    gap: 16px;
  }

  .modal-card-buttons {
    flex-direction: row;
    justify-content: right;
    gap: 7px;
    margin-top: 64px;
  }

  .modal-card-button {
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
    max-width: 137px;
  }
  .favorite-button {
    height: 48px;
    width: 194px;
    max-width: 194px;
  }
  .favorite-button span {
    font-size: 16px;
    line-height: 1.5;
  }
  .favorite-button svg {
    margin-top: 2px;
  }
  .modal-card-rating {
    margin-top: 8px;
  }
  .modal-card-description {
    padding-top: 6px;
  }
}

@media screen and (min-width: 1280px) {
  .exercise-modal-card {
    width: 708px;
  }
  .modal-card-data {
    max-width: 342px;
  }
  .modal-card-button {
    max-width: 141px;
  }
  .favorite-button {
    max-width: 194px;
  }
}
