/* Global resets and normalization */
@import url('./reset.css');

/* Common styles */
@import url('./base.css');

/* Section-specific styles */
@import url('./header.css');
@import url('./hero.css');
@import url('./quote.css');
@import url('./exercises.css');
@import url('./categories.css');
@import url('./modal-exercise.css');
@import url('./pagination.css');
@import url('./modal-rating.css');
@import url('./footer.css');

@import url('./favorites.css');
@import url('./filtes.css');
@import url('./backdrop-menu.css');
@import url('./loader.css');
@import url('./scroll-up.css');
